.git
.github
node_modules
npm-debug.log
coverage
.nyc_output
.env
.env.*
!.env.example
*.log
.DS_Store
.vscode
.idea
build
dist
*.tsbuildinfo
.vitest
test
tests
*.test.ts
*.spec.ts
vitest.config.ts
README.md
ERROR_CODES.md
.gitignore
.eslintrc.*
